
input, label, textarea, select {
    margin: 5px 0;
}

label {
    font-weight: bold;
}

input, textarea, select {
    padding: 5px 7px;
    border: 2px $teal solid;
}

.searchBar {
    display: none;
    
    input {
        padding: 10px 5px;
    }

    .searchBtn {
        padding: 12px;
    }

    @media screen and ($mobile){
        display: block;                
    }
}